* {
  /* border: 1px solid red; */
}
.wrapper {
  height: 420px;
  border: 1px solid black;
  width: 600px;
  overflow: hidden;
  /* background-color: white; */
}
.sliding-background {
  background: url(/img/SeekPng.com_building-png_133022.png) repeat-x;
  background-position: bottom;
  height: 400px;
  width: 5000px;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
.bird {
  z-index: 1;
  width: 20px;
  height: 40px;
  background-color: greenyellow;
  position: absolute;
  top: 370px;
}
