/* * {
  border: 1px solid red;
} */
.game {
  height: 500px;
  width: 600px;
  border: 1px solid red;
  background-color: black;
  overflow: hidden;
  margin: auto;
}
.bird {
  z-index: 1;
  width: 20px;
  height: 40px;
  background-color: greenyellow;
  position: relative;
  top: 400px;
  left: 50px;
}
.cactus {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 380px;
  left: 600px;
}

.slideActive {
  animation: cactus 1s linear infinite;
}

/* Slide Cactus across screen */
@keyframes cactus {
  0% {
    left: 580px;
  }
  100% {
    left: -40px;
  }
}

/* Created jump function , will call on JS */
.jump {
  animation: jump 500ms linear;
}

@keyframes jump {
  0% {
    top: 400px;
  }
  30% {
    top: 340px;
  }
  70% {
    top: 340px;
  }
  100% {
    top: 400px;
  }
}

/* ETC Background stuff */
.sliding-background {
  background: url("./img/SeekPng.com_building-png_133022.png") repeat-x;
  background-color: grey;
  background-position: bottom;
  height: 380px;
  width: 5000px;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

#score{
  height: auto;
  width: auto;
  color: white;
  position: absolute;
  top: 20px;
}
#gameOver{
  color: white;
  font-size: 25px;
}